version: "3.9"

services:
  postgres:
    image: postgres:15
    container_name: gaf_postgres
    env_file:
      - .env
    ports:
      - "${POSTGRES_PORT}:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
